

<table class="table table-bordered bg-info">
<thead>

    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
</thead>
<tbody *ngFor="let i of data">
    <td>{{i.id}}</td>
    <td>{{i.title}}</td>
    <td>{{i.author}}</td>
    <td>{{i.price}}</td>
    <td><button (click)="detail(i.id)" class="btn-btn-secondary">View</button></td>
    <td><button (click)="edit(i.id)" class="btn-btn-secondary">Edit</button></td>
    <td><button (click)="delete(i.id)" class="btn-btn-secondary">Delete</button></td>
</tbody></table>